.navbar {
  height: 70px;
  font-family: 'Lato', sans-serif;
}

.Navbar-brand {
  font-family: 'Lato', sans-serif;
  color: #5CB85C;
}

/* .mr-auto:hover {
  float: right;
  color: #5CB85C; 
} */

.navbar{
  color: #373E3F; 
}

.navbar:hover{
  text-decoration: none; 
  color: #373E3F; 
  background:#5CB85C; 
}

.navbar-item:active{
  color:white !important; 
  background:#5CB85C !important; 
}


