.navbar {
  height: 70px;
  font-family: 'Lato', sans-serif;
  color: #495057; 
}
.d-inline-block {
  padding: 8px;
}

/* .navbar{
  color: #373E3F; 
}

.navbar:hover{
  text-decoration: none; 
  color: #373E3F; 
  background:#5CB85C; 
}*/

.navbar-item:active{
  color:white !important; 
  background:rgb(38, 109, 38) !important; 
} 

.nav-link{
  color:#495057 !important; 
}

.navbar-light .navbar-nav .nav-link:hover  {
  color: rgb(38, 109, 38) !important;
  font-weight: bold;
}
/* .navbar:active{
  background: #373E3F; 
} */

#basic-nav-dropdown {
  font-size: 15px;
}

.nav-search{
  display: block;
  color:#495057; 
  padding: .5rem 1rem;
}

.nav-search:hover  {
  color: rgb(38, 109, 38);
  font-weight: bold;
  text-decoration:none;
}
