.search{
  margin-top: 0px;
  text-align: center;
}

.title1 {
  font-family: 'lato', sans-serif;
  color: white;
  font-style: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size:50px;
}

.subTitle {
  font-family: 'lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #5CB85C;
  margin-bottom: 20px;

}

.searchButtons{
  text-align: center;
}

.subLine{
  color: white;
  margin-bottom: 20px;
}

.center{
  text-align:center; 
}

.center .submitbutton{
  margin-top:50px; 
}

/* HOME PAGE */
.homepage {
  text-align: center;
}