html, body {
  width: 100%;
  height: 2000px;
  margin: 0;
  padding: 0;
  color:white; 
  background: linear-gradient(25deg, rgb(25, 28, 29) 0%, #394141 51%, #465250 85%);
}

/* SEARCH PAGE */
.search{
  margin-top: 0px;
  text-align: center;
}
.title1 {
  font-family: 'lato', sans-serif;
  color: white;
  font-style: bold;
  padding: 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-size: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 2px;
}
.subTitle {
  font-family: 'lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #5CB85C;
  margin-bottom: 30px;
}
.searchButtons{
  text-align: center;
}
.subLine{
  color: white;
  margin-bottom: 20px;
}

.center{
  text-align:center; 
}

.center .submitbutton{
  margin-top:50px; 
}

/* PROFILE PAGE */
.welcome {
  margin-bottom: 80px;
}
.personalinfo {
  margin: 0 auto;
  width: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 2px;
  padding-top: 30px;
  margin-bottom: 50px;
}
.personalinfotitle {
  color: #5CB85C;
  font-family: 'lato', sans-serif;
  margin-bottom: 20px;
}
.profilebutton {
  width: 80px;
  margin-right: 10px;
}

/* HOME PAGE */
.homepage {
  text-align: center;
  margin: 0 auto;
  align-content: center;
  align-items: center;
}
.search{
  text-align:center; 
}
.quote {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}
.homepagebutton {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-size: 20px;
  font-display: bold;
  width: 180px;
  border-color: #5CB85C;
  color:#5CB85C; 
}

.homepagebutton:hover {
    background-color: #5CB85C; /* Green */
    color: white;
    border-color: #5CB85C;
  }

  .homepagebutton:visited{
    background-color: #5CB85C; /* Green */
    color: white;
    border-color: #5CB85C;
  }
.quote{
  margin:0px 10px 40px 10px; 
}

.quoteBlock{
  display: inline-flex; 
}

/* MEDIA QUERIES */
@media only screen and (max-width: 420px) {
  .logoimg {
    width: 250px;
    height: auto;
  }
}