/* @font-face {
  font-family: 'Sketch Block';
  src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot');
  src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff') format('woff'),
       url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf') format('truetype'),
       url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold') format('svg');
  }
  @font-face {
  font-family: 'Museo 700';
  src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot');
  src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.woff') format('woff'),
       url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
       url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.svg#SketchBlockBold') format('svg');
  }
  @font-face {
  font-family: 'CallunaRegular';
  src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot');
  src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.woff') format('woff'),
       url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.ttf') format('truetype'),
       url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
  }
  body {
  color:white; 
  background: linear-gradient(25deg, rgb(25, 28, 29) 0%, #394141 51%, #465250 85%);
  }
  .community {
    color: lightgray;
  }
  .creative {
    color:#5CB85C;
  }
  .opener {
      width: 590px;
      margin: 140px auto;
      position: relative;
  }
  blockquote {
      width: 565px;
      font: 2.55em CallunaRegular;
      letter-spacing: .075em;
      padding: 10px 100px 30px 25px;
      margin: 0;
      margin-bottom: 50px;
      border-top: 2px dotted black;
      border-bottom: 2px dotted black;
    
  }
  .container:before {
      content: "";
      font-size: 13em;
      position: absolute;
      left: -100px;
      color: #666;
  }
  .container:after {
      content: "";
      font-size: 13em;
      position: absolute;
      right: -100px;
      top: 150px;
      color: #666;
  }
      blockquote:first-line {
          font: 1.85em "Sketch Block";
          color: lightgray;
      }
      blockquote:first-letter {
          font-size: 2.9em;
          text-transform: lowercase;
          float: left;
          line-height: .52em;
          margin-right: -18px;
          position: relative;
          z-index: 1;
      }
      blockquote strong:first-child {
          margin-left: 8px;
          letter-spacing: 0;
      }
      blockquote strong:last-child {
          font: 2em "Museo 700";
          text-transform: uppercase;
          letter-spacing: 0;
      }
      blockquote em {
          border-bottom: 2px dotted #858585;
      }
      blockquote + b {
          float: right;
          margin-top: 10px;
          font: 1.6em CallunaRegular;
          letter-spacing: .15em;
      }
      blockquote + b:first-letter {
          color: #fff79e;
          font-size: 1.3em;
          font-style: italic;
          letter-spacing: .25em;
      }
      @-moz-document url-prefix() { 
          blockquote:first-letter {
              margin-top: -29px;
          }
      } */

.signupbutton {
  margin-right: 10px;
}

.signuppage {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.IMA {
  margin-bottom: 20px;
  /* font-size:23px; */
  color:#5CB85C;
  font-weight: bold; 
  letter-spacing: 1.8px;
}

.pp {
  font-size: 18px;
  margin-bottom: 20px;
  font-style: italic;
  letter-spacing: .5px;
  margin-top: 50px;
}

.IntroLine{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom:40px; 
  font-size: 30px;
  color:#5CB85C;
  text-align: center;
}

.inputtitle {
  color: rgb(2, 148, 51);
}

.personalinput {
  margin-bottom: 10px;
  margin-left: 10px;
}

.personalinfo {
  text-align: center;
}

.bio {
  text-align: left;
  margin-left: 170px;
  margin-bottom: 0px;
}

.bioinput {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 400px;
  height: 200px;
}

.bioform {
  color:#5CB85C;
}

.submitbutton {
  font-size: 20px;
  border-radius: 2px;
  margin-right: 10px;
  padding: 10px;
  width: 160px;
  font-family: 'Lato', sans-serif;
  text-align: center;
} 

#profession button{
  text-align:center; 
}

.profession{
  display: inline-grid;
}

.signupinfo{
  margin:auto; 
}

/* MEDIA QUERIES */
@media only screen and (max-width: 420px) {
  .IntroLine{
    font-size:25px;
    text-align: center;
  }
    .creative {
      color:#5CB85C;
      margin-left: 20px;
    }
    .opener {
        width: 400px;
        margin: 140px auto;
        position: relative;
    }
    blockquote {
        width: 265px;
        font: 1.25em CallunaRegular;
        letter-spacing: .095em;
        padding: 45px 0px 30px 25px;
        margin: 0;
        margin-top: 10px;
        border-top: 2px dotted black;
        border-bottom: 2px dotted black;
        /* -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg); */
    }
        blockquote strong:first-child {
            margin-left: 15px;
            letter-spacing: 0;
        }
        blockquote strong:last-child {
            font: 2em "Museo 700";
            text-transform: uppercase;
            letter-spacing: 0;
        }

}  