.hide{
  display:none;
}

.show{
  display: inline;
}

.statement{
  width:200px; 
  text-align: center;
  margin: auto;
  font-style: italic; 
  margin-bottom:10px; 
}

@media only screen and (max-width: 420px) {
  .statement{
    margin-bottom:5px; 
  }
}