.footer {
  display: block !important; 
  /* position: fixed;  */
  /* position: absolute; */
  background:#f8f9fa!important; 
  color:#495057!important; 
  border:20px solid #f8f9fa;  
  margin-bottom:0px !important; 
  width:100%!important;
  height: 60px;
  }

  body{
    height:100%; 
  }


/* MEDIA QUERIES */
@media only screen and (max-width: 420px) {
 .footer {
   margin-top: 70px;
   width:100%!important;
 }  
}  