.footer {
  display: block !important; 
  /* position: fixed;  */
  /* position: absolute; */
  background:#f8f9fa!important; 
  color:#495057!important; 
  border:20px solid #f8f9fa;  
  margin-bottom:0px !important; 
  height: 60px;
  }

  body{
    height:100%; 
  }