ul.search-results img {
  margin: 0 auto;
}

.title {
  font-family: 'lato', sans-serif;
  color: #5CB85C;
  font-style: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 25px;
  }
}