.login {
  align-content: center;
  text-align: center;
  /* border: 2px white solid;
  border-radius: 4px; */
}
#loginbutton {
  width: 250px;
  height: 40px;
  background-color: green;
  text-align: center;
}
#submitbutton {
  width: 80px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 10px;
}
.form-control-home {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.form-group {
  text-align: center;
}
.loginform {
  margin-bottom: 10px;
}
.loginsubmit {
  width: 90px;
  margin-bottom: 10px;
}
#homepagebutton {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-size: 20px;
  font-display: bold;
  width: 180px; 
  border-color: #5CB85C;
}
#homepagebutton:hover {
    background-color: #5CB85C; /* Green */
    color: white;
  }
#submitlogin {
  background-color: #5CB85C;
  width: 100px;
  font-size: 15px;
  border-color: #5CB85C;
}