.login {
  align-content: center;
  text-align: center;
}
#loginbutton {
  width: 250px;
  height: 40px;
  background-color: green;
  text-align: center;
}

.form-control-home {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.form-group {
  text-align: center;
}
.loginform {
  margin-bottom: 10px;
}
.loginsubmit {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  display: grid; 
}

.homepagebutton {
  color: white;
  background: none;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-size: 20px;
  font-display: bold;
  width: 180px; 
  border-color: #5CB85C;
}

.homepagebutton:hover {
    background-color: #5CB85C; /* Green */
    color: white;
  }


.error{
  margin-top: 15px;
  width: 180px;
  display: inline-block;
  opacity: 0.6;
}